# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Data files
data/raw/*
data/processed/*
data/forecasts/*
data/opperar.db

# Generated csv and html clustering examples
src/*.csv
src/*.html

# Jupyter Notebooks checkpoints
notebooks/.ipynb_checkpoints/

# Python virtual environments
venv/
mit-fleet-env/

# IDEs
.idea/

# Results

# Etc
Notes_Eric.txt
