# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Data files
data/forecasts/*
data/opperar.db

# Generated csv and html clustering examples
src/*.csv
src/*.html

# Jupyter Notebooks checkpoints
notebooks/.ipynb_checkpoints/

# Python virtual environments
venv/
mit-fleet-env/

# IDEs
.idea/

# Results
results/*.xlsx
results/*.json
results/*.html
results/*.csv

# Testing
.hypothesis/
.coverage*
coverage/*
coverage/coverage-summary.json
src/*.egg-info/

# Etc
*tex
*.pdf
*.docx
*.xml
*.egg-info/

# TODO: do add the paper
paper_wip.txt
